<form action="/usuario/create" method="POST">
    <p>Nome</p>
    <input type="text" name="nome" required>

    <p>Sobrenome</p>
    <input type="text" name="sobrenome" required>

    <p>Email</p>
    <input type="email" name="email" required>

    <p>Data de nascimento</p>
    <input type="date" name="data_nasc" required>

    <br><br>
    <button type="submit">Salvar</button>
</form>