<form action="/admin/postagem/deletar/{{ postagem._id }}" method="POST">
    <h3>
        Certeza que deseja deletar a seguinte postagem?
    </h3>
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{ postagem.titulo }}</h4>
            <small>{{ postagem.categoria.nome }}</small>
            <p>
                {{ postagem.conteudo }}
            </p>
        </div>
    </div>
    <hr>

    <a class="btn btn-info" href="/admin/postagem/lista">Voltar</a>
    <button class="btn btn-danger">Deletar</button>
</form>