<span>
    Bem-vindo(a) a página admin!
</span>

<ul>
    <li><a href="/admin/categoria/lista">Categorias para ADMIN</a></li>
    <li><a href="/admin/postagem/lista">Postagens para ADMIN</a></li>
</ul>