<h3>{{ postagem.titulo }}</h3>
<hr>
<small class="d-block">{{ postagem.categoria.nome }}</small>
<small class="d-block">{{ postagem.date }}</small>
<hr>
<p style="text-align: justify;">
    {{ postagem.conteudo }}
</p>