{{> _form_errors }}

<form action="/admin/categoria/editar/{{ categoria.id }}" method="POST">
    <h3>
        Editando a categoria "{{ categoria.nome }}"
    </h3>
    <hr>

    <label for="nome">Nome: </label>
    <input type="text" id="nome" name="nome" placeholder="Nome da categoria" class="form-control" value="{{ categoria.nome }}">

    <label for="nome_slug">Nome Slug: </label>
    <input type="text" id="nome_slug" name="nome_slug" placeholder="Nome Slug da categoria" class="form-control" value="{{ categoria.nome_slug }}">

    <hr>
    <button class="btn btn-success">Editar</button>
</form>